.features-section {
  background-color: var(--background-color1);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.features {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}

.features-item__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 120px;
  background-color: var(--background-color2);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-item__title {
  font-style: normal;
  @include font(700, 14px, 16px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--foreground-color1);
  margin-bottom: 10px;
}

.features-item__description {
  font-style: normal;
  @include font(400, 14px, 24px);
  letter-spacing: 0.03em;
  color: var(--foreground-color2);
}

@media screen and (min-width: 480px) {
  .features-item__wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
  }

  .features-item {
    width: 354px;
  }

  .features-item__wrapper {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-bottom: 47px;
  }

  .features {
    justify-content: space-between;
  }

  .features-item {
    width: 270px;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }

  .features-item__wrapper {
    width: 270px;
  }
  .features-item__title {
    text-align: start;
  }
}
////////////////////////////////
