.footer {
  background-color: var(--background-color3);
  padding-top: 60px;
  padding-bottom: 60px;

  .logo {
    color: var(--foreground-color3);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    .logo-web {
      color: var(--hoverfocus-color);
    }
  }
}

.footer-container {
  display: flex;
  column-gap: 70px;
}

.our-contacts-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}

.footer-link-map,
.footer-link-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}

.footer-link-map {
  color: var(--foreground-color3);

  &:hover,
  &:focus {
    color: var(--hoverfocus-color);
  }
}

.footer-link-contact {
  color: rgb(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--hoverfocus-color);
  }
}

/*--------socials---------*/

.our-socials {
  display: flex;
  flex-direction: column;
}

.our-socials-title,
.subscription-title {
  color: var(--background-color1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
}

.our-socials-list {
  display: flex;
  column-gap: 10px;
}

.our-socials-item-link {
  background: var(--social-links-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background: var(--hoverfocus-color);
  }
}

.our-socials-item-icon {
  fill: var(--foreground-color3);
}

/*--------subscription---------*/

.subscription {
  margin-left: auto;
}

.subscription-wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.subscription-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-color3);
  color: var(--foreground-color3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  transition: outline var(--transition-dur-and-func);

  &:focus {
    outline: 1px solid var(--hoverfocus-color);
  }
}

.subscription-btn {
  cursor: pointer;
  padding: 10px 28px;
  background-color: var(--button);
  color: var(--background-color1);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);

  &:focus,
  &:hover {
    background-color: var(--hoverfocus-color);
  }
}

.subscription-btn-icon {
  margin-left: 10px;
}
