.about-job {
    background-color: var(--background-color1);
    padding-top: 47px;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

.job-item {
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.job-item-thumb {
    position: relative;
    overflow: hidden;
}

.job-item-overlay-text {
    background: rgba(47, 48, 58, 0.8);
    color: var(--foreground-color3);

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(76%);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
}
