.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 8px;
  row-gap: 8px;
  padding-bottom: 34px;
}

.buttons-sort {
  background-color: var(--background-color2);
  color: var(--foreground-color1);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  @include font(500, 16px, 26px);
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  min-width: 74px;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--hoverfocus-color);
    color: var(--foreground-color3);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.projects-item {
  transition: box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-item-wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-item-title {
  font-style: normal;
  @include font(700, 18px, 36px);
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
}

.projects-item-kind {
  color: var(--foreground-color2);
  font-style: normal;
  @include font(400, 16px, 30px);
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.projects-item-thumb {
  position: relative;
  overflow: hidden;
}

.projects-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  background-color: var(--overlay);
  font-style: normal;
  @include font(400, 18px, 28px);
  letter-spacing: 0.03em;
  color: var(--foreground-color3);
  padding: 63px 24px 63px;

  .projects-item:hover &,
  .projects-item:focus & {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 480px) {
  .projects-item {
    width: 450px;
    height: 404px;
  }
  .project-item__photo {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
  }

  .projects-item {
    width: 354px;
    height: 440px;
    flex-basis: calc((100% - 30px) / 2);
  }

  .project-item__photo {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-item {
    width: 370px;
    height: 404px;
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  .project-item__photo {
    width: 370px;
    height: 294px;
  }
}
