@media screen and (min-width: 1200px) {
    .slideshow {
        display: none;
    }
}

.slideshow-container {
    // max-width: 1000px;
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 500ms;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (min-width: 480px) {
    .fade {
width: 450px;  
  }
}