.our-team {
  background-color: var(--background-color2);
}

.our-team-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
}


.team-member-photo{
  width: auto;
}



.team-item {
  width: auto;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  background-color: var(--background-color1);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 24px;
  width: auto;
}

.team-member-name {
  @include font(500, 16px, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-member-position {
  color: var(--foreground-color2);
  @include font(400, 16px, 19px);
    text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  background-color: var(--background-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--hoverfocus-color);
  }
}

.social-list-icon {
  fill: var(--logo-color);
  transition: fill var(--transition-dur-and-func);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--background-color1);
  }
}

@media screen and (min-width: 480px) {
  .team-item {
    width: 450px;
  }
}

// .team-wrapper {
//   background-color: var(--background-color1);
//   border-radius: 0px 0px 4px 4px;
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

// .team-item {
//   flex-basis: calc((100% - 3 * 30px) / 4);
// }
