
@media screen and (max-width: 767px) {
  .mobile-menu {
    background-color: var(--background-color1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    max-height: 796px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
    padding: 48px 40px;
    display: flex;
    flex-direction: column;

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__close-icon {
    transition: fill var(--transition-dur-and-func);
    .mobile-menu__close-btn:hover &,
    .mobile-menu__close-btn:focus & {
      fill: var(--hoverfocus-color);
    }
  }

  .mobile-navigation {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .mobile-navigation-item__link {
    font-style: normal;
    @include font(500, 40px, 47px);
    letter-spacing: 0.02em;
    color: var(--foreground-color1);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      color: var(--hoverfocus-color);
    }

    &_current {
      color: var(--hoverfocus-color);
    }
  }

  .mobile-contact {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .mobile-contact-item {
    .tel {
      font-style: normal;
      @include font(500, 34px, 40px);
      letter-spacing: 0.02em;
      color: var(--hoverfocus-color);
      margin-bottom: 32px;
    }

    .mail {
      font-style: normal;
      @include font(500, 24px, 28px);
      letter-spacing: 0.02em;
      color: var(--foreground-color2);
    }
  }

  .mobile-socials {
    margin-top: 64px;
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
  }

  .mobile-socials-item__link {
    color: var(--hoverfocus-color);
    font-style: normal;
    @include font(500, 18px, 22px);
    letter-spacing: 0.02em;
    text-decoration: none;

    // ::after{
    //   content: '';
    //         position: absolute;
    //         height: 100%;
    //   border: 1px solid rgba(33, 33, 33, 0.2);
    //     transform: rotate(90deg);
    // }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: none;
  }
}

////////////////////////////////////////